<div class="met-h">
  <p>MET HOTEL je smešten u blizini nove Solunske luke, 
  u čudesnom centru sa odličnim urbanim prilascima na zapadnom ulazu u grad.<br>
   MET HOTEL je udaljen od mnogih trendovskih zabavnih, kulturnih i noćnih žarišta, <br>
   uključujući tržni centar "One Salonica" restorana, multiplek kina, igrališta i drugih sadržaja.<br>
    U blizini centra grada (2km), ambasade Makedonije i železničke stanice, <br>
     hotel je idealna lokacija za poslovna dešavanja, razgledavanje i kupovinu.  <br>
     Za vreme Vašeg boravka u Met hotelu, <br>
     možete koristiti naš besplatni prevoz autobusom do Aristotel Central Square-a.
    </p>
</div>

