<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MetHoteli</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Pocetna<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="onama">O nama</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="galerija">Galerija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="rezervacija">Rezervacija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="kontakt">Kontakt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="naslov">
    Uplovite u nestvaran svet!
</div>
<div class="tekst">
    <p>
        Met Hotel Solun<br> U živom gradu Solunu,<br> 
  gde istorija i umetnost neprekidno informišu unapred razmišljaju o poslovnoj kulturi<br>
  MET HOTEL, nudi raznovrsnim korporativnim i zabavnim putnicima savršen i inspirativan metropolitansko iskustvo.
  <br>U hotelu Hotel MET pronaći ćete sve usluge, 
  <br>a posebno: Restoran, Room Service, Bar, Recepcija je otvorena 24 sata,<br> 
  Teniski teren, Sobe za nepušače, Poslovni centar, Perionica, 
  <br>Posluženje doručka u sobi, i vrhunski spa centar i centar za podmlađivanje,
  <br>koji su svi podržani izvanrednim uslugama i detaljnom pažnjom na detalje. 
  <br>Za vreme vašeg boravka u The Met hotelu,
  <br>možete koristiti naš besplatni prevoz autobusom sa i na Aristotel Central Square-a.
</p>
</div>